<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://cvws.icloud-content.com/B/AZ6Bw3rzRdoJmpuTkgAPZSihYAFMAd15AM88Z2Mt0DupZOJIc63IFhX3/%E9%85%B7%E7%8B%97%E9%9F%B3%E4%B9%90+4.0.7.ipa?o=AtwDwLHQ-9YZmCo6V8mnqWRwMO9Q8B4ShM-kQLUHPZ4j&v=1&x=3&a=B7J1MYXUhqwNxvq6_qApfXIydsQPA0g9RgEAAAM5PUY&e=1538496449&k=OTmdaiVleQlLwiNl14ba7g&fl=&r=58d29bd7-14bb-4295-8f97-6a5fa46475c7-1&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=63&s=U1pb9JLOLAlcA3S1blyQ8J3AWFk</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://github.com/newbusiness2018/ipa-ota/blob/master/AppIcon57x57%402x.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://qdcu01.baidupcs.com/file/3547f6e4d33f35d0f8ad49d72fe1df26?bkt=p3-14003547f6e4d33f35d0f8ad49d72fe1df2605505796000000001c5a&fid=1918408162-250528-331350606097482&time=1537268107&sign=FDTAXGERLQBHSKW-DCb740ccc5511e5e8fedcff06b081203-KXnblMiYqY1Mbw8gbvdpUGZDObw%3D&to=65&size=7258&sta_dx=7258&sta_cs=0&sta_ft=png&sta_ct=0&sta_mt=0&fm2=MH%2CYangquan%2CAnywhere%2C%2Cguangdong%2Ccnc&resv0=cdnback&resv1=0&vuk=1918408162&iv=0&htype=&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=14003547f6e4d33f35d0f8ad49d72fe1df2605505796000000001c5a&sl=76480590&expires=8h&rt=pr&r=634519161&mlogid=6048416255371387800&vbdid=2293515272&fin=AppIcon60x60%402x.png&fn=AppIcon60x60%402x.png&rtype=1&dp-logid=6048416255371387800&dp-callid=0.1.1&hps=1&tsl=80&csl=80&csign=P3ygpVREEXD6AhVviR7GVraYHL0%3D&so=0&ut=6&uter=4&serv=0&uc=4192912830&ti=ea6f6f2a9b6afb7ab882fa1459c9c3af870950f57e90d012&by=themis</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.kugou.kugou1002</string>
				<key>bundle-version</key>
				<string>4.0.7</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>kugou</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
